.text-details {
  color: rgb(255, 255, 255);
  font-size: small;
  line-height: 1.5;
}

.project-image {
  height: 150px;
}

#my-header {
  width: 100%;
  overflow: hidden;
}

#welcome-message {
  margin-top: 2%;
  font-size: x-small;
  color: rgb(255, 255, 255);
  animation-name: welcome-message;
  animation-duration: 2s;
}

.special-text {
  color: rgb(141, 134, 201);
}

.my-header-text {
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Kanit", sans-serif;
}

.my-header-text:hover {
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Kanit", sans-serif;
  color: rgb(141, 134, 201);
}

li {
  list-style-type: none;
  margin-left: 10px;
}

.text-to-highlight {
  color: rgb(141, 134, 201);
  font-size: 18px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  line-height: 1;
}

.material-symbols-outlined {
  font-size: 50px;
  -webkit-text-fill-color: white;
}

.dev-ops-container {
  position: relative;
  height: 120px;
  width: 120px;
}

.hour-glass {
  position: relative;
  top: -50%;
  left: 38%;
  z-index: 4;
  animation-name: hour-glass;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.dev-ops-gear {
  z-index: 4;
  top: -51%;
  left: 49%;
  position: relative;
  animation-name: dev-ops-gear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.dev-ops-gear-lower {
  z-index: 4;
  top: -29%;
  left: 15%;
  position: relative;
  animation-name: dev-ops-gear-lower;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgb(124, 180, 168), 1%, rgb(0, 0, 0), 40%, rgb(0, 0, 0), 99%,rgb(124, 180, 168));
}

.content-component {
  margin-top: 50px;
  padding-top: 75px;
  border-top: 1px solid rgba(124, 180, 168, 0.26);
  border-right: 1px solid rgba(124, 180, 168, 0.26);
  
}

#recommendations{
  margin-bottom: 300px;
}

.my-nav-bar-toggle {
  font-size: 60px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

.my-nav-bar-toggle:hover {
  -webkit-text-fill-color: rgb(141, 134, 201);
}

.nav-item:hover {
  -webkit-text-fill-color: rgb(141, 134, 201);
}

.my-nav-bar {
  background-color: black;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: large;
  -webkit-text-fill-color: white;
  text-decoration-color: white;
}

.project-image {
  height: 300px;
}

@media (max-width: 767px) {
  .my-nav-bar {
    background-color: black;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    height: 80px;
    -webkit-text-fill-color: white;
    padding: 2px;
    font-size: medium;
  }
  .navbar-nav{
    background-color: black;    
  }

  .my-nav-bar-toggle {
    font-size: 40px;
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
  }

  .navbar-toggler{
    margin-top: 2px;    
    margin-bottom: 10px;   
  }
  .project-image {
    height: 150px;
  }

  .content-component{
    margin-left: 0px;
    margin-top: 25px;
    transform: translateX(-20px);
    padding-right: 20px;
  }

  #recommendations{
    margin-bottom: 100px;
  }
  

}

.my-sticky-footer {
  z-index: 5;
  margin-top: 8px;
  bottom: 0;
  width: 100%;
  background-color: black;
  -webkit-text-fill-color: white;
  position: sticky;
}

@keyframes welcome-message {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes dev-ops-gear {
  0% {
    position: relative;
    z-index: 4;
    top: -51%;
    left: 49%;
    transform: rotate(0deg);
  }
  100% {
    position: relative;
    z-index: 4;
    top: -51%;
    left: 49%;
    transform: rotate(360deg);
  }
}

@keyframes dev-ops-gear-lower {
  0% {
    position: relative;
    z-index: 4;
    top: -29%;
    left: 15%;
    transform: rotate(0deg);
  }
  100% {
    position: relative;
    z-index: 4;
    top: -29%;
    left: 15%;
    transform: rotate(360deg);
  }
}

@keyframes hour-glass {
  0% {
    position: relative;
    z-index: 4;
    top: -50%;
    left: 38%;
    transform: rotate(0deg);
  }
  5% {
    position: relative;
    z-index: 4;
    top: -50%;
    left: 38%;
    transform: rotate(30deg);
  }

  90% {
    position: relative;
    z-index: 4;
    top: -50%;
    left: 38%;
    transform: rotate(360deg);
  }
}
